language: scala

scala:
- 2.11.11
- 2.12.4

jdk:
- oraclejdk8

before_install:
- if [ "$TRAVIS_BRANCH" = "master" -a "$TRAVIS_PULL_REQUEST" = "false" ]; then bash
  scripts/decrypt-keys.sh; fi
- export PATH=${PATH}:./vendor/bundle

install:
- rvm use 2.2.3 --install --fuzzy
- gem update --system
- gem install sass
- gem install jekyll -v 3.2.1

script:
- sbt ++$TRAVIS_SCALA_VERSION clean coverage coreJVM/test circeJVM/test akka/test coverageReport
- sbt ++$TRAVIS_SCALA_VERSION clean coreJS/test circeJS/test exampleJS/compile
- sbt "docs/tut" "readme/tut" scalafmt
- git diff --name-only --exit-code -- $(find . -iname "*.scala")

after_success:
- bash <(curl -s https://codecov.io/bash)
